@import './variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
    font: inherit;
    letter-spacing: .4px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif !important;
}

body {
    line-height: 18px;
}

html {
    box-sizing: border-box;
    background: #FAFAFA
}

main {
    min-height: calc(100vh - 80px);
}

footer {
    position: relative;
    z-index: 1;
    width: 100%;
    background: inherit;
    font-size: 0.8em;

    .links {
        margin: 2px;

        a {
            color: #262626;
            font-weight: 600;
            margin: 0 5px;
            display: inline-block;

            &#fork {
                margin-right: 6px;
                margin-bottom: 2px;
            }

            img {
                width: 20px;
                height: 20px;
                vertical-align: middle;
                display: inline-block;
                @include border-radius(100%);
            }
        }
    }
}

a {
    &.link, &:visited {
      color: #0000EE;
      cursor: pointer;
    }

    background-image: none !important;
}

.hidden {
    display: none;
}

/**
 * devices (width <=768)
 */
@media screen and (max-width: 768px) {
    .hide-mobile {
        display: none;
    }
}

/**
 * devices (width >=769) 
 */
@media screen and (min-width: 769px) {
    .hide-desktop {
        display: none;
    }
}


////////////////
// Home Posts //
////////////////

/* smaller screens */
@media screen and (max-width: 600px) {
    @media (max-width: 500px) {
        .home-posts div.user-name {
            margin-left: 13px;
        }
    }
    .sm-hide {
        display: none;
    }
    div.infinite-scroll-component p#msg {
        margin-bottom: 0 !important;
    }
    .home-posts {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        margin-bottom: 50px !important;
        .card {
            box-shadow: none !important;
            border: none !important;
            margin-bottom: 20px !important;
            .card-header, .card-body {
                background: inherit !important;
            }
        }
        .hide-comment-mobile {
            display: none;
        }
    }
    .suggestions.page, .search-page {
        max-width: 100%;
    }
}

/* medium sized screens */
@media screen and (min-width: 601px) and (max-width: 999px) {
    .sm-hide {
        display: none;
    }
    div.infinite-scroll-component p#msg {
        margin-bottom: 0 !important;
    }
    .home-posts {
        margin: 0 auto !important;
        margin-bottom: 50px !important;
        flex: 0 0 600px !important;
        width: 600px !important;
        max-width: 600px !important;
    }
    .post-view-toggle {
        margin: 0 auto !important;
        flex: 0 0 600px !important;
        width: 600px !important;
        max-width: 600px !important;
    }
    .suggestions.page, .search-page {
        width: 600px !important;
        max-width: 600px !important;
        margin: 0 auto !important;
    }
}

/* big screens */
@media screen and (min-width: 1000px) {
    .posts-wrapper, .post-view-toggle {
        width: 935px !important;
        margin: 0 auto !important;
        .home-posts {
            flex: 0 0 614px !important;
            width: 614px !important;
            max-width: 614px !important;
        }
    }    
    .suggestions.page, .search-page {
        width: 614px !important;
        max-width: 614px;
    }
    .hide-big-screen {
        display: none;
    }
}


.row.post-view-toggle {
    margin: 0 auto;
}


/////////////////
// Alert popup //
/////////////////
.alert-popup {
    width: 20%;
    font-size: 14px;
    min-width: 240px;
    position: fixed;
    z-index: 1000;

    left: 50%;
    // bottom: 50px;
    transform: translate(-50%, -50%);

    .row {
        margin: 0;

        .alert {
            margin: 0;
            padding: 3px;
        }
    }
}

.home-posts {
    video {
        object-fit: fill;
    }
}


/////////////////////
// Infinite scroll //
/////////////////////

div.infinite-scroll-component {
    overflow: hidden !important;

    p#msg {
        text-align: center;
    }
}


/////////////////
// Suggestions //
/////////////////

.col.separator {
    flex: 0 0 47px !important;
    max-width: 47px !important;
    width: 47px !important;
}

.user-col.fixxed {
    position: fixed;
    // right: 69px;
    width: 293px;
}


.suggestions-column, .suggestions {
    font-size: 0.80em;
    width: 100%;
    margin: 0 auto;
    // float: right;

    p {margin: 0;}
    div.row {margin-bottom: .5rem;}

    #c-title {
        font-weight: 600;
        font-size: 0.99em;
        color: #8E8E8E;
    }
    #see-more {
        font-weight: 600;
        font-size: 0.88em;
        a {
            color: #262626;
        }
    }

    div.auth_user {
        width: 293px;
        height: 56px;

        img {
            width: 56px;
            height: 56px;
            margin-right: 0 !important;
            @include border-radius(100%);
            border: none;
        }

        div.user-info {
            margin: 0 0 0 20px;
            padding-top: 12px;
            padding-bottom: 16px;

            div.username {
                a{color: #262626;}
                font-weight: 600;
                font-size: 0.99em;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            div.full_name {
                color: #8E8E8E;
                font-size: 0.99em;
            }
        }
    }

    div.user {
        margin: 0;
        height: 48px;
        padding: 8px 16px;
        padding-left: 0;

        img {
            height: 32px;
            width: 32px;
            margin: 0 auto;
            @include border-radius(100%);
            border: 0.5px solid #8E8E8E;
        }
        div.username {
            a{color: #262626;}
            font-weight: 600;
            font-size: 0.92em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        div.follow-info {
            color: #8E8E8E;
            font-size: 0.92em;
        }
        div.follow-col button {
            padding: 0;
            border: none;
            color: #0095F6;
            font-size: 0.90em;
            font-weight: 600;
            margin-top: 7px;
            box-shadow: none;
        }
    }
}



//////////////
// Helpers  //
//////////////

.text-center {
    text-align: center;
}

@media screen and (max-width: 362px) {
    .hide-screen-362 {
        display: none;
    }
}