* {
    box-sizing: border-box;
}

html,
body {
    background: #FAFAFA
}

a {
    &.link, &:visited {
      color: #0000EE;
      cursor: pointer;
    }

    background-image: none;
}


/**
 * devices (width <=768)
 */
@media screen and (max-width: 768px) {
    .hide-mobile {
        display: none;
    }
}

/**
 * devices (width >=769) 
 */
@media screen and (min-width: 769px) {
    .hide-desktop {
        display: none;
    }
}


.alert-popup {
    width: 20%;
    font-size: 14px;
    min-width: 240px;
    position: absolute;

    left: 50%;
    // bottom: 50px;
    transform: translate(-50%, -50%);

    .row {
        margin: 0;

        .alert {
            margin: 0;
            padding: 3px;
        }
    }
}

