@import '../../../sass/variables';

// page
@media screen and (min-width: 601px) {
    .post-page {
        margin-bottom: 50px !important;
    }
}
@media screen and (max-width: 735px) {
    .post-page {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 50px;
    }
}
@media screen and (min-width: 736px) {
    .post-page {
        width: calc(100% - 40px);
        margin: 0 auto;
        flex: 0 0 calc(100% - 40px);
        max-width: 872px;
    }    
}

// columns
@media screen and (max-width: 735px) {
    .post-media {
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
    }
    .post-data {
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
    }
}
@media screen and (min-width: 736px) {
    .post-page {
        margin-bottom: 40px;
        padding: 24px 0 0;
    }
    .post-media {
        flex: 0 0 62%;
        width: 62%;
        max-width: 62%;
    }
    .post-data {
        flex: 0 0 38%;
        width: 38%;
        max-width: 335px;
    }
}



.post-page {
    .row {margin: 0;}
    .col {padding: 0;}

    .card {
        box-shadow: none;
        transform: none !important;

        position: relative;
        border-top: 0.5px solid rgba(var(--ce3,239,239,239),1);

        .card-header {
            height: 55px;
            padding: 0 !important;
            padding-left: 10px !important;
            background: #FFF;

            label {
                cursor: pointer;
            }

            .row {
                height: 33px;
                margin: 9px 0;

                .col.col-1 {
                    max-width: 37px !important;
                }

                .like-btn, .save-btn {
                    flex: 0 0 25%;
                    width: 25%;
                    max-width: 70px;
                }
                .save-btn {
                    max-width: 40px;
                }

                &.post-info {
                    a {
                        color: #41403E;
                    }
                }
            }

            div.user-dp, div.user-opt {
                width: 42px;
                margin: 0 auto;

                img {
                    width: 32px;
                    height: 32px;

                    @include border-radius(100%);
                }
            }

            div.user-name, div.user-opt {
                margin-top: 9px;
                margin-left: 8px;
                font-size: .8em;
                font-weight: bold;
            }
        }

        .card-post {
            img {
                min-width: 100%;
            }

            &.comment-card {
                background: #fff;
                height: 100%;
            }
        }

        &.info {
            height: 100%;
            box-shadow: none;
            .row {margin: 0;}
            .card-header {
                height: 55px;
                padding-left: unset !important;

                button {
                    width: 40px;
                    height: 40px;
                    padding: 0;
                    margin: 0 auto;
                    border: none;
                    display: block;
                    transform: none;
                    box-shadow: none;

                    img {
                        width: 30px;
                        height: 30px;
                    }
                }

                .row.act {
                    margin-top: 3px;
                    .col-likes {
                        flex: 0 0 50%;
                        width: 50%;
                        max-width: 100px;
                    }
                    p#likes-count {
                        text-overflow: ellipsis;
                        font-size: 0.7em;
                        margin-left: 2.5%;
                    }
                }
            }
        }
    }


    ////////////////
    // More Posts //
    ////////////////
    .row.more-posts {
        padding-top: 6vh;
        margin-top: 48px;
        border-top: 1px solid rgba(var(--b38,219,219,219),1);

        .title {
            color: #8e8e8e;
            line-height: 18px;
            // font-size: 0.8em;
            font-size: 14px;
            margin: -3px 0 -4px;
            font-weight: 600;
            margin-bottom: 20px;
            a {
                font-size: inherit;
                color: #262626;
            }
        }

        .tile-view {
            width: 100%;
        }
    }


    ///////////
    // Modal //
    ///////////

    div.modal {
        .modal-body {
            @include border-radius(12px);
            width: 32%;
            overflow-y: hidden;
            padding: 0;
            min-width: 170px;

            &.edit-caption {
                width: 75% !important;
                max-width: 320px !important;
                input {
                    background: #fafafa;
                    width: 100%;
                    border: 1px solid #dbdbdb;
                    padding: 6px 9px;
                    font-size: 0.8em;
                }
            }

            button, label {
                margin: 0;
                width: 100%;
                padding: 13px 0;
                border: none;
                display: block;
                box-shadow: none;
                font-size: 0.79em;
                border-bottom: 1px solid rgba(var(--ce3,239,239,239),1);

                a, a:visited {
                    color: #41403E;
                    background-image: none;
                }

                &#close {
                    color: #A7342D;
                }
            }

            button.unfollow-button, button.delete-post {
                color: #A7342D;
            }

            label {
                text-align: center;
                cursor: pointer;
            }
        }
    }


    //////////////
    // Carousel //
    //////////////

    .carousel {
        ul li::before {
            content: "";
        }
        .slide {
            img, video {
                position: relative;
                left: 3.5px; // this fixes a visual bug that i dont know what causes                
            }
        }
    }


    /////////////////
    // ReactPlayer //
    /////////////////

    button.play-icon {
        position: absolute;
        left: 47%;
        top: 50%;
        z-index: 999;
        padding: 0;
        margin: 0;
        width: 64px;
        height: 64px;
        border: none;
        box-shadow: none;
        @include border-radius(100%);
        transform: translate(-50%, -50%);

        &.display-false {
            display: none;
        }
    };
}
