
/**
 * Styling for the (Login, Register, PasswordReset) components
 */


/**
 * if small screen devices (<= 450px)
 */
@media screen and (max-width: 450px) {
    .auth-pg-error-alert {
        width: 100% !important;
    }

    div.card.auth-pg {
        width: 100% !important;
        border: none !important;
        background: inherit !important;

        h1.card-title {
            background-size: 100% !important;
            margin: 22px auto 12px !important;
        }
    }

    .login-box {
        input {
            width: 61% !important;
            margin: 0 auto 6px !important;
        }
        button[type=submit] {
            width: 61% !important;
        }
        .separate-or {
            width: 61% !important;
        }
        #password-container button#show-pass {
            right: 19.5% !important;
        }
    }

    div.card.login-card {
        margin-top: 0 !important;
    }
}


/**
 * else if smaller screen (<= 200px)
 */
@media screen and (max-width: 200px) {
    .login-box #password-container button#show-pass {
        display: none;
    }
}


/**
 * else
 */
div.card.auth-pg {
    width: 350px;
    margin: 0 auto;
    background: #FFF;
    box-shadow: none;
    border: 1px solid rgba(var(--b6a,219,219,219),1);

    h1.card-title {
        background: url("/photapp.png");
        background-size: 175px;
        background-repeat: no-repeat;
        font-size: 14px !important;
        width: 175px;
        height: 51px;
        margin: 22px 86.5px 12px;
    }
}

.auth-pg-error-alert {
    width: 350px;
    color: #ED4956;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;

    &:not(#reg) {
        position: relative;
        top: 7px;
    }

    &#reg {
        font-size: 14px;
    }
}

div.card.signup-request-card {
    height: 63px;
    margin-top: 25px;

    p {
        font-size: 16px;
        text-align: center;
    }
}


div.card.login-card, div.card.register-card {
    margin-top: 40px;
    height: 370px;

    &, .card-body {
        padding: 0;
    }

    .login-box {
        margin-top: 24px;

        input {
            width: 268px;
            height: 38px;
            margin: 0 40px 6px;
            font-size: 12px;
        }

        button[type=submit] {
            width: 268px;
            margin: 12px auto;
        }

        .separate-or {
            width: 268px;
            text-align: center;
            margin: 15px 40px 20px;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: bold;
        }

        .alt-btns {
            text-align: center;

            a {
                display: block;
            }

            div#guest a {
                color: #41403E;
            }

            div#pass-reset {
                font-size: 15px;
                margin-top: 20px;
            }
        }

        #password-container {
            position: relative;

            button#show-pass {
                top: 0;
                right: 41px;
                position: absolute;
                height: 38px;
            }
        }
    }
}


div.card.register-card {
    height: 390px;
}
