
div.notifications-body {

    width: 96%;
    margin: 0 auto;
    max-width: 600px;
    margin-top: 34px;

    em#err {
        color: #ED4956;
        font-size: 16.3px;
    }

    .alerts {
        font-size: 15px;

        .dp-col {
            max-width: 50px;
            max-height: 50px;

            span#dp {
                width: 40px;
                display: block;
                margin: 0 auto;

                img {
                    border-radius: 100%;
                    width: 40px;
                    height: 40px;
                }
            }
        }

        div.follow_btn-col {
            button {
                color: #FFF;
                font-size: 17px;
                padding: 5px 4px 5px;
                background: #0095F6;
            }
        }

        div.notif-content {
            padding-top: 6px;
            padding-left: 4px;
            border-bottom: 1px solid rgba(var(--b38,219,219,219),1);

            &.to-post {
                cursor: pointer;
            }

            &:not(.row) {
                padding-bottom: 22px;
            }

            &.row {
                padding-bottom: 12px;
                margin-bottom: 0;
            }

            span#user a {
                color: #41403E;
                font-weight: bold;
            }

            span#msg a {
                color: #00376B;
            }

            span#time {
                color: #8E8E8E;
            }
        }


        .col {
            padding: 0;
        }


    }
}

