@import '../../../../sass/variables';

@media screen and (max-width: 385px) {
    .edit-profile-page {
        .fields .field-value {
            input[type=text], input[type=email], input[type=password], textarea {
                max-width: 88% !important;
            }
        }
    }
}
@media screen and (max-width: 450px) {
    .page-wrapper {margin: 1px auto !important;}
}
@media screen and (max-width: 735px) {
    .edit-profile-page {
        .page-wrapper .nav {display: none;}
        .fields {
            width: 100% !important;
            max-width: 100% !important;
            margin: 20px !important;
            .field-name, .field-value {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
        .head-field {
            margin-left: 0 !important;
            .head-field-name {
                flex: 0 0 70px !important;
                max-width: 70px !important;
                padding-left: 4% !important;
            }
            .head-field-value {
                flex: 0 0 181.203px !important;
                max-width: 181.203px !important;
            }
        }
        .change-pass {
            input[type=password] {
                width: 88% !important;
                max-width: 88% !important;
            }
        }
    }
}
@media screen and (min-width: 736px) {
    .fields, .head-field {
        .field-name {
            flex: 0 0 27.874%;
            max-width: 27.874%;
            &:not(.no-pl) {
                padding-left: 8% !important;
            }
        }
        .field-value {
            flex: 0 0 72.126%;
            max-width: 72.126%;
        }
    }
    .change-pass .field-value {
        padding-left: 5%;
    }
}


.page-wrapper {
    width: 100%;
    margin: 30px auto 0;
    max-width: 935px;
    overflow: hidden;
    background: #fff;
    @include border-radius(3px);

    @include border-radius-top('left', 255px 15px);
    @include border-radius-top('right', 15px 255px);
    @include border-radius-bottom('left', 15px 255px);
    @include border-radius-bottom('right', 255px 15px);
    border: 1px solid rgba(var(--b6a,219,219,219),1);

    .nav {
        border-right: 1px solid rgba(var(--b6a,219,219,219),1);

        .links {
            .active-true {
                border-left: 2px solid #262626;
                a {font-weight: 600;}
                &.last-true { border-left: 2px solid }
            }
            a {
                color: #262626;
                vertical-align: baseline;
                padding: 16px 16px 16px 30px;
                display: block;
                border-left: 2px solid transparent;
                font-size: 16px;
                height: 100%;
                line-height: 20px;
                width: 100%;
            }
        }
    }
}



.head-field {
    margin: 32px auto 0;
    width: 86.8%;
    max-width: 539.91px;

    .head-field-name {
        flex: 0 0 27.874%;
        max-width: 27.874%;
        padding: 0;
        padding-left: 10%;

        img {
            width: 38px;
            height: 38px;
            @include border-radius(100%);
        }
    }

    .head-field-value {
        padding: 0;
        flex: 0 0 72.126%;
        max-width: 72.126%;

        h1.username {
            margin: unset;
            font-size: 20px;
            line-height: 22px;
            margin-bottom: 2px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: 400;
            max-width: 264px;

            &.big {
                font-size: 24px;
                font-weight: 400;
                line-height: 38px;
            }
        }

        .change-dp button {
            margin: 0;
            border: 0;
            color: #0095f6;
            padding: 0;
            -webkit-appearance: none;
            font-weight: 600;
            transform: none;
            box-shadow: none;
            font-size: 0.70em;
        }
    }
}


.fields {
    width: 86.8%;
    margin: 20px auto;
    max-width: 539.91px;

    .field-name {
        label {
            font-size: 15.13px;
            font-weight: 600;
        }
    }

    .field-value {
        input[type=text], input[type=email], input[type=password], textarea {
            color: #262626;
            border: 1px solid #dbdbdb;
            font-size: 16px;
            width: 100%;
            max-width: 355px;
        }
        input[type=text], input[type=email], input[type=password] {
            height: 32px;
            padding: 0 10px;
        }
        textarea {
            padding: 6px 10px;
            height: 60px;
            resize: vertical;
        }
        button {
            width: 77px;
            height: 30px;
            border: 1px solid transparent;
            background-color: #0095f6;
            font-weight: 600;
            padding: 5px 9px;
            text-align: center;
            color: #fff;
            font-size: 14px;
        }
    }
}


.change-pass {
    input[type=text], input[type=email], input[type=password] {
        background: #fafafa;
        border: 1px solid #dbdbdb;
        font-size: 14px;
        line-height: 30px;
        margin: 0;
        overflow: visible;
        padding: 4px 12px;
        height: 40px !important;
    }

    button {
        width: 165.53px !important;
    }
}


.notifications {
    margin: 32px 0 0;

    input[type=radio] {
        @include border-radius(100%);
        display: inline-block;
    }

    .field-name {
        label {
            font-size: 18px;
            font-weight: 100;
        }
    }

    .field-value {
        .field-radio {
            font-size: 15.3px;
            font-weight: 600;
        }
    }

    div.sample p {
        color: #888;
        font-size: 14px;
        margin-top: 7px;
    }
}

