@mixin border-radius($property) {
    -webkit-border-radius: $property;
    -o-border-radius: $property;
    -moz-border-radius: $property;
    border-radius: $property;
}

@media screen and (min-width: 736px) {
    .mobile-profile-head {
        display: none;
    }
}

@media screen and (max-width: 735px) {
    .__hide-mobile {
        display: none;
    }
    .desktop-profile-head {
        display: none;
    }
    .tabs img#icon {
        width: 25px !important;
        height: 25px !important;
    }
}

@media screen and (min-width: 556px) and (max-width: 735px) {
    .mobile-profile-head .profile-info .dp-col {
        margin-right: 0 !important;
    }
}

@media screen and (max-width: 380px) {
    .mobile-profile-head .profile-info .dp-col {
        margin-right: 20px !important;
    }
}


a {
    color: #00376b;
}

.user-profile {
    margin-top: 34px;
}

.mobile-profile-head {
    width: 100%;
    margin: 0 auto;

    .profile-info {
        margin-left: 16px;
        margin-right: 16px;

        .row.info {
            margin-bottom: 7px;
        }

        .dp-col {
            margin-right: 20px;

            img {
                width: 77px;
                min-width: 67px;
                min-height: 77px;
                height: auto;
                border: none;
                margin-top: 10px;
                @include border-radius(100%);
            }
        }

        .username-col {
            margin-top: 10px;

            p#username {
                font-size: 28px;
                color: #262626;
            }
        }
    }

    .bio {
        padding: 0 16px 21px;

        p#full_name {
            color: #262626;
            font-size: 0.88em;
            font-weight: 600;
        }
        .profile-bio {
            margin-top: 7px;
        }
    }

    .stats {
        margin: 0;
        height: 61px;
        padding: 12px 0;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        .col {padding: 0;}

        p#count {
            font-size: 0.90em;
            font-weight: 600;
            color: #262626;
            text-align: center;
        }
        div#w {
            color: #8e8e8e;
            font-size: 0.88em;
            text-align: center;
        }
    }
}


.desktop-profile-head {
    .profile-info {
        width: 94%;
        max-width: 935px;
        margin: 0 auto;

        .row.info {
            height: 168px;
            margin-top: 17px;
            .col{padding: 0;}
            .dp-col {
                img {
                    width: 168px;
                    height: 168px;
                    border: none;
                    @include border-radius(100%);
                }
            }

            p#username {
                font-size: 28px;
                color: #262626;
            }

            .follow-button button {
                margin-left: 20px;
                width: 100%;
                margin-top: 0;
            }

            .row.stats {
                a {color: unset;}
                div#w, p#count {display: inline-block;}
                p#count {
                    font-weight: 600;
                }
            }

            .bio {
                font-size: 0.90em;

                p#full_name {
                    font-weight: 600;
                }
            }
        }

    }
}

.follow-button button {
    height: 28px;
    margin-top: 10px;
    border: none;
    color: #fff;
    padding: 0 12px;
    background: #0095F6;
    max-width: 198px;
    width: 46%;
    font-weight: 500;
    @include border-radius(3px);
}


.tabs {
    label.title {
        padding-bottom: 4px;
    }

    img#icon {
        width: 19px;
        height: 19px;
        display: inline-block;
        border-radius: unset;
        border: none;
    }

    .content {
    }
}
