@mixin border-radius($property) {
    -webkit-border-radius: $property;
    -o-border-radius: $property;
    -moz-border-radius: $property;
    border-radius: $property;
}


//////////////////
// User Profile //
//////////////////

@media screen and (min-width: 736px) {
    .mobile-profile-head {
        display: none;
    }
    .tabs.row.flex-spaces {
        justify-content: center !important;
    }
}

@media screen and (min-width: 426px) {
    .hide-min-425 {
        display: none;
    }
}

@media screen and (max-width: 735px) {
    .__hide-mobile {
        display: none;
    }
    .desktop-profile-head {
        display: none;
    }
    .tabs img#icon {
        width: 25px !important;
        height: 25px !important;
    }
}

@media screen and (min-width: 556px) and (max-width: 735px) {
    .mobile-profile-head .profile-info .dp-col {
        margin-right: 0 !important;
    }
}

@media screen and (max-width: 380px) {
    .mobile-profile-head .profile-info .dp-col {
        margin-right: 20px !important;
    }
}


a {
    color: #00376b;
}

.user-profile {
    margin-top: 34px;
}


////////////
// Mobile //
////////////
.mobile-profile-head {
    width: 100%;
    margin: 0 auto;

    .profile-info {
        margin-left: 16px;
        margin-right: 16px;

        .row.info {
            margin-bottom: 7px;
        }

        .dp-col {
            margin-right: 20px;

            img {
                width: 77px;
                min-width: 67px;
                min-height: 77px;
                height: auto;
                border: none;
                margin-top: 10px;
                @include border-radius(100%);
            }
        }

        .username-col {
            margin-top: 10px;

            p#username {
                font-size: 24px;
                color: #262626;
            }
        }
    }

    .bio {
        padding: 0 16px 21px;
        font-size: 0.79em;

        p#full_name {
            color: #262626;
            font-size: 0.79em;
            font-weight: 600;
        }
        .profile-bio {
            margin-top: 7px;
        }
    }

    .stats {
        margin: 0;
        height: 61px;
        padding: 12px 0;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        .col {padding: 0;}

        p#count {
            font-size: 0.80em;
            font-weight: 600;
            color: #262626;
            text-align: center;
        }
        div#w {
            color: #8e8e8e;
            font-size: 0.88em;
            text-align: center;
        }
    }
}

/////////////
// Desktop //
/////////////
.desktop-profile-head {
    .profile-info {
        width: 94%;
        max-width: 935px;
        margin: 0 auto;

        .row.info {
            height: 168px;
            margin-top: 17px;
            .col{padding: 0;}
            .dp-col {
                img {
                    width: 168px;
                    height: 168px;
                    border: none;
                    @include border-radius(100%);
                }
            }

            p#username {
                font-size: 24px;
                color: #262626;
            }

            .follow-button button {
                margin-left: 20px;
                width: 100%;
                margin-top: 0;
            }

            .row.stats {
                a {color: unset;}
                div#w, p#count {display: inline-block;}
                div#w {
                    cursor: pointer;
                    font-size: 0.80em;
                }
                p#count {
                    font-size: 0.80em;
                    font-weight: 600;
                }
            }

            .bio {
                font-size: 0.79em;

                p#full_name {
                    font-weight: 600;
                }
            }
        }

    }
}

.hidden-col {
    &-big {
        flex: 0 0 27px !important;
    }
    &-username {
        flex: 0 0 35px !important;
    }
    &-dp {
        flex: 0 0 4px !important;
    }
}

.follow-button button {
    height: 28px;
    margin-top: 10px;
    border: none;
    color: #fff;
    padding: 0 12px;
    background: #0095F6;
    max-width: 198px;
    width: 46%;
    font-weight: 550;
    @include border-radius(3px);

    &.unfollow-button {
        background: transparent;
        border: 1.5px solid rgba(var(--ca6,219,219,219),1);
        color: rgba(var(--f75,38,38,38),1);
    }
}


.tabs {
    border-top: .2px solid rgba(var(--b38,219,219,219),1);

    &.row.flex-spaces {
        justify-content: space-evenly;
    }

    label.title {
        font-size: 0.70em;
        padding-bottom: 4px;
    }

    img#icon {
        width: 19px;
        height: 19px;
        display: inline-block;
        border-radius: unset;
        border: none;
    }
}


/////////////////
// User Follow //
/////////////////

.user-follow {
    width: 94%;
    float: none;
    margin: 0 auto;
    max-width: 600px;

    #more {
        font-size: 0.88em;
        color: #262626;
    }

    .user.row {margin-bottom: 12px;}
    .col {padding: 0;}
    img {margin-right: 10px !important;}

    div.row.single {
        a {
            font-size: 0.88em;
            text-align: center;
            color: #262626;
        }
    }

}


.modal-body {
    overflow-y: scroll;
    overflow-x: hidden;
    min-width: 310px;
    max-width: 70%;
    max-height: 70%;

    .page-title {
        font-size: 0.80em;
    }

    label.btn-close {
        position: fixed;
        top: 0;
    }
}
