@mixin border-radius($property) {
    -webkit-border-radius: $property;
    -o-border-radius: $property;
    -moz-border-radius: $property;
    border-radius: $property;
}


//////////////////
// User Profile //
//////////////////

@media screen and (min-width: 736px) {
    .mobile-profile-head {
        display: none;
    }
    .tabs.row.flex-spaces {
        justify-content: center !important;
    }
    .follow-button button {
        min-width: 103.91px !important;
        width: 103.91px !important;
        height: 30px !important;
    }
}

@media screen and (min-width: 426px) {
    .hide-min-425 {
        display: none;
    }
}

@media screen and (max-width: 735px) {
    .__hide-mobile {
        display: none;
    }
    .desktop-profile-head {
        display: none;
    }
    .tabs img#icon {
        width: 25px !important;
        height: 25px !important;
    }
}

@media screen and (min-width: 556px) and (max-width: 735px) {
    .mobile-profile-head .profile-info .dp-col {
        margin-right: 0 !important;
    }
}

@media screen and (max-width: 380px) {
    .mobile-profile-head .profile-info .dp-col {
        margin-right: 20px !important;
    }
}


a {
    color: #00376b;
}

.user-profile {
    margin-top: 34px;
}


////////////
// Mobile //
////////////
.mobile-profile-head {
    width: 100%;
    margin: 0 auto;

    .profile-info {
        margin-left: 16px;
        margin-right: 16px;

        .row.info {
            margin-bottom: 7px;
        }

        .dp-col {
            margin-right: 20px;

            img {
                width: 77px;
                min-width: 67px;
                min-height: 77px;
                height: auto;
                border: none;
                margin-top: 10px;
                @include border-radius(100%);
            }
        }

        .username-col {
            margin-top: 10px;

            p#username {
                font-size: 28px;
                color: #262626;
                line-height: 32px;
                font-weight: 300;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }

    .bio {
        font-size: 0.82em;
        padding: 0 16px 21px;

        p#full_name {
            text-overflow: ellipsis;
            color: #262626;
            font-size: 0.79em;
            font-weight: 600;
        }
        .profile-bio {
            margin-top: 7px;
        }
    }

    .stats {
        margin: 0;
        height: 61px;
        padding: 12px 0;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        .col {
            padding: 0;
            label {cursor: pointer;}
        }
        p#count {
            font-size: 0.80em;
            font-weight: 600;
            color: #262626;
            text-align: center;
        }
        div#w {
            color: #8e8e8e;
            font-size: 0.88em;
            text-align: center;
        }
    }
}

/////////////
// Desktop //
/////////////
.desktop-profile-head {
    .profile-info {
        width: 94%;
        max-width: 935px;
        margin: 0 auto;

        .row.info {
            height: 168px;
            margin-top: 17px;
            .col{padding: 0;}
            .dp-col {
                img {
                    width: 168px;
                    height: 168px;
                    border: none;
                    @include border-radius(100%);
                }
            }

            p#username {
                font-size: 28px;
                color: #262626;
                line-height: 32px;
                font-weight: 300;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .follow-button button {
                margin-left: 15px;
                width: 100%;
                margin-top: 0;
            }

            .row.stats {
                a {color: unset;}
                div#w, p#count {display: inline-block;}
                .col {
                    label {cursor: pointer;}
                }
                div#w {
                    cursor: pointer;
                    font-size: 0.80em;
                }
                p#count {
                    font-size: 0.80em;
                    font-weight: 600;
                }
            }

            .bio {
                font-size: 0.81em;

                p#full_name {
                    font-weight: 600;
                }
            }
        }

    }
}

.hidden-col {
    &-big {
        flex: 0 0 27px !important;
    }
    &-username {
        flex: 0 0 35px !important;
    }
    &-dp {
        flex: 0 0 4px !important;
    }
}


///////////////////////
// Auth user buttons //
///////////////////////

#dp-change {
    cursor: pointer;
}

.follow-button {
    button {
        height: 28px;
        margin-top: 10px;
        border: none;
        color: #fff;
        padding: 0 12px;
        background: #0095F6;
        max-width: 198px;
        width: 46%;
        font-weight: bold;
        font-size: 0.83em;
        @include border-radius(3px);
        letter-spacing: .5px;

        &.unfollow-button, &.edit-profile {
            font-size: 14px;
            letter-spacing: normal;
            padding: 5px;
            min-width: 200px;
            background: transparent;
            border: 1px solid rgba(var(--ca6,219,219,219),1);
            color: rgba(var(--f75,38,38,38),1);
        }
    }

    .settings-icon {
        cursor: pointer;
        vertical-align: middle;
        display: inline-block;
        margin-left: 17px;
    }
}

.settings-icon-mobile {
    display: inline-block;
    margin-left: 17px;
}




/////////////////
// User Follow //
/////////////////

.user-follow {
    width: 94%;
    float: none;
    margin: 0 auto;
    max-width: 600px;

    #more {
        font-size: 0.88em;
        color: #262626;
    }

    .user.row {margin-bottom: 12px;}
    .col {padding: 0;}
    img {margin-right: 10px !important;}

    div.row.single {
        a {
            font-size: 0.88em;
            text-align: center;
            color: #262626;
        }
    }

}


//////////////////
// Modal / tabs //
//////////////////

.tabs {
    border-top: .2px solid rgba(var(--b38,219,219,219),1);

    &.row.flex-spaces {
        justify-content: space-evenly;
    }

    label.title {
        font-size: 0.70em;
        padding-bottom: 4px;
    }

    img#icon {
        width: 19px;
        height: 19px;
        display: inline-block;
        border-radius: unset;
        border: none;
    }
}

.modal-body {
    overflow-y: scroll;
    overflow-x: hidden;
    min-width: 310px;
    max-width: 70%;
    max-height: 70%;

    &.logout {
        overflow: unset;
        min-width: unset;
        max-width: 250px;
        width: 60% !important;
        padding: 0 !important;
        .row{margin: 0;}
        .col {padding: 0;}
        @include border-radius(10px);

        .header {
            padding: 25px;
            font-weight: 600;
            font-size: 0.88em;
            text-align: center;
        }

        button, label {
            cursor: pointer;
            text-align: center;
            margin: 0 auto;
            display: block;
            width: 100%;
            height: 100%;
            border-radius: unset;
            border: 1px solid #d0bdbd;
            transform: none;
            border-bottom: none;
            border-left: none;
            border-right: none;

            &[for] {
                padding-top: 14%;
                border-left: 0.5px solid #ccc;
            }
        }
    }

    &.edit-profile {
        overflow: unset;
        min-width: unset;
        max-width: 400px;
        width: 81.25% !important;
        padding: 0 !important;
        @include border-radius(12px);

        button, label {
            a {
                color: unset;
                display: block;
            }
            margin: 0;
            width: 100%;
            color: inherit;
            display: block;
            transform: none;
            box-shadow: none;
            margin: 0 auto;
            background: transparent;

            border-bottom: 0;
            border-left: 0;
            border-right: 0;
            border-top: 1px solid rgba(var(--b6a,219,219,219),1);
            cursor: pointer;
            text-align: center;
            line-height: 1.5;
            min-height: 48px;
            padding: 4px 8px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            &:first-child {
                border-top: none;
                border-top-left-radius: 12px;
                border-top-right-radius: 12px;
            }

            &[for=modal-logout] {
                color: #A7342D;
            }
        }
    }

    .page-title {
        font-size: 0.80em;
    }

    label.btn-close {
        position: fixed;
        top: 0;
    }
}
