// @media screen and (max-width: 768px) {
//     .transparent {
//         top: 31px + 44px + 4px;
//         position: absolute;
//         width: 100%;
//         height: 100%;
//         background: rgba(0,0,0,0.5);
//         z-index: 1000;
//     }
// }

.explore-page {
    .search-box {
        margin-top: 4px;
        .col{padding: 0;}
        button {
            width: 89%;
            border: none;
            display: block;
            margin: 0 auto;
            margin-top: 4px;
            box-shadow: none;
            padding: 4px 3px;
            padding-left: 0;
            font-size: 0.80em;
        }
    }
}


/* smaller screens */
@media screen and (max-width: 735px) {
    .grid-container {
        width: 100% !important;
        .photo_grid {
            margin-bottom: 1px;
            grid-gap: 1px;
        }
    }
}

/* medium sized screens */
@media screen and (min-width: 736px) and (max-width: 974px) {
    .grid-container {
        margin: 0 auto !important;
        width: 98.75% !important;
    }
}

/* big screens */
@media screen and (min-width: 975px) {
    .grid-container {
        width: 963px;
        margin: 0 auto;
    }
}

.grid-container {
    margin-top: 27px !important;
}
